header {

    text-align: center;
    background-color: rgba(255, 255, 255, .8);
    color: rgb(51, 103, 51);
    font-size: 40px;
}

//phone
@media only screen and (max-width: 715px) {
}

// tablet
@media only screen and (max-width: 990px) {
}

// desktop
@media only screen and (min-width: 901px) {
}

